*{
    margin: 0;
    padding: 0;
}

:root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.container {
    border: 2px solid rgb(0, 0, 216);
    margin: 100px 0;
    padding: 2rem;
    width: 100% ;
    height: auto ;
}

.container img {
    width: 100%;
}

.container ul, .container ol {
    list-style-position: inside;
    background-color: rgb(216, 0, 0);
}

.container a {
    text-decoration: none;
    color: rgb(0, 0, 216);
}

.container * {
    line-height: 2rem;
}

.container a:hover {
    color: red;
}

.container h1 {
    font-size: 3rem;
}
.container h2 {
    font-size: 2rem;
}
.container h3 {
    font-size: 1.5rem;
    align-items: center;
    flex-direction: column;
}

.right ul{
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}

nav {
    position: absolute;
    top: 0;
    display: flex;
    background-color: aqua;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
}

nav div {
    margin: 0 3rem;
}